@import '../../styles/base.scss';

.container {
    @include container;

    .menuItem {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-left: 7%;
        margin-top: 2%;

        .activeCategory {
            font-weight: bolder;
        }

        .nonActiveCategory {
            color: grey;
        }
    }
}